---
title: Kostenlose Website für deinen Wettkampf – schnell, stressfrei und hochwertig!
layout: splash
permalink: /services/free-competition-website
header:
  overlay_image: /images/landing-pages/regionals.webp
  overlay_filter: rgba(0, 0, 0, 0.5)


excerpt: "Ich trete als Sponsor auf und übernehme dein Webdesign kostenlos. Mit jahrelanger Erfahrung sowohl als Teilnehmer als auch in der Planung von Wettkämpfen stehe ich dir voll zur Seite."
---



<div class="video-container">

  <div class="video-half">
    <h1 class="with-bottom-margin">
      Athlet und Organisator – meine Expertise für Deinen Wettkampf
    </h1>

    <div>
      Seit 2018 bin ich auf Powerlifting-Wettkämpfen aktiv, habe an mehreren Halbmarathons und dem Köln-Marathon teilgenommen und 2024 erstmalig auch bei Hyrox. Mit mehreren Top-10-Platzierungen bei den Deutschen Meisterschaften im Powerlifting, einem Sieg bei der Regionalmeisterschaft und Landesrekorden in der Kniebeuge bringe ich nicht nur als Athlet, sondern auch als Organisator Erfahrung mit – wie bei der Planung des PowerBase Squat Maxout, dem ersten Kniebeuge-only Wettkampf in Deutschland. Mit rund 100 Teilnehmenden und mehreren tausend Livestream-Views war das Event ein voller Erfolg.
    </div>

  </div>

  <div class="video-half">
    {% include video id="vCVPLThUbiE" provider="youtube" %}
  </div>

</div>


<br>
<div class="sep-section with-bottom-margin">
  <br>
  <hr>
<p style="text-align: center; color: black;">
  <small>
    <i>"Die technische Expertise von Per ermöglichte die Umsetzung meiner Vorstellungen bis ins Detail, seine Designvorschläge waren ebenfalls sehr gut. Die schnelle Bearbeitung meines Auftrags und klare Kommunikation haben die Zusammenarbeit besonders effizient gestaltet."
      <small><a href="https://maps.app.goo.gl/PGbp1XdmvapAPdpy7" rel="noopener noreferrer nofollow" target="_blank">~ Jan von Wild Strength Coaching, bei Google Maps</a></small></i>
  </small>
</p>
  <hr>
  <br>
</div>


<div class="video-container with-bottom-margin">



  <div class="video-half">
    {% include video id="XsWIJJIOaHI" provider="youtube" %}
  </div>

  <div class="video-half">
    <h1 class="with-bottom-margin">So funktioniert mein kostenloses Website-Angebot</h1>

    <div>
      Ich biete Dir die Möglichkeit, Deine Wettkampf-Website im Wert von 499 € kostenlos zu erstellen, indem ich im Gegenzug als Sponsor auftrete. Die einzigen Folgekosten sind etwa 10 Euro jährlich für die Domain sowie eventuelle Gebühren für Anmeldeformulare. Bei Sonderwünschen arbeite ich zu stark reduzierten Preisen. Alle Details können wir gerne in einem unverbindlichen Erstgespräch besprechen – stressfrei und unkompliziert!
    </div>

  </div>

<br>
</div>


<br>
<div class="center">
<h2 class="with-bottom-margin">KLINGT INTERESSANT?</h2>
<a href="/contact" class="btn btn--primary">Dann schreib mir einfach - ich freu mich!</a>
</div>





