<div class="page__footer-follow center">
  <ul class="social-icons">

    {% if site.author.github %}
      <li><a href="https://github.com/perstarke-webdev" class="underline-hover-effect"
             rel="noopener noreferrer nofollow"
            target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}

    <li><a href="https://www.youtube.com/channel/UCG2Ndo4IEH8Fa0oIv2FBRMA" class="underline-hover-effect"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fab fa-fw fa-youtube" style="color: rgb(255,0,0);" aria-hidden="true"></i>
        YouTube</a></li>

    <li><a href="https://www.instagram.com/perstarke_webdev/" class="underline-hover-effect"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fab fa-fw fa-instagram instagram" aria-hidden="true"></i> Instagram</a></li>

    <li><a href="https://dev.to/per-starke-642" class="underline-hover-effect"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fab fa-fw fa-dev" aria-hidden="true"></i> Dev.to</a></li>

    <li><a href="https://blog.perstarke-webdev.de/" class="underline-hover-effect"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fas fa-fw fa-blog" aria-hidden="true" style="color: #00adb5"></i> Panorama Perspectives Blog</a></li>

    <li><a href="/projects" class="underline-hover-effect"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fas fa-fw fas fa-project-diagram" aria-hidden="true" style="color: #00adb5"></i> Weitere Projekte</a></li>

    <li><a href="{{ '/imprint' | absolute_url }}" class="underline-hover-effect"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fas fa-fw fa-gavel" style="color:Tomato" aria-hidden="true"></i> Impressum & Datenschutz</a></li>
  </ul>
</div>

<div class="page__footer-copyright center">&copy; {{ site.time | date: '%Y' }} Per Starke.
</div>
