---
title: Per Starke
layout: splash
permalink: /about
header:
    overlay_image: /images/photos/sydney-2.webp
    overlay_filter: rgba(0, 0, 0, 0.6)


ai:
- title: "Master of Science - Angewandte Informatik"
  image_path: /images/about/rub-logo.webp
  excerpt: "Um mich nach dem Bachelor noch mehr auf die praktischen Aspekte der Informatik zu fokussieren studiere ich seit April 2024
            Angewandter Informatik im Master an der Ruhr-Uni Bochum."

coxi:
- title: "Bachelor of Science - Cognitive Science"
  image_path: /images/about/coxi-logo.webp
  url: "https://en.wikipedia.org/wiki/Cognitive_science"
  btn_label: "Über Cognitive Science"
  btn_class: "btn--primary"
  excerpt: "Cognitive Science kombiniert Psychologie, Philosophie, Neurowissenschaften und Linguistik mit
            Informatik und Künstlicher Intelligenz, wobei ich den Fokus meines Studiums klar auf die technischen Bereiche gelegt habe.
            Anfang 2024 habe ich den Bachelor an der Uni Osnabrück abgeschlossen."

webdev:
- title: "Web Developer"
  url: "/references"
  image_path: /images/about/ps-logo.webp
  btn_label: "Referenzen"
  btn_class: "btn--primary"
  excerpt: "Ich durfte schon viel Erfahrung im Web Development Bereich sammeln. Unter [Referenzen](/references)
            findest Du einige Webseiten, die ich gestaltet oder bei denen ich mitgewirkt habe."

kdk:
- title: "Powerlifter & Metal-Fan"
  image_path: /images/about/kdk.webp
  excerpt: "Ich bin leidenschaftlicher Wettkampf-Kraftsportler mit einem Faible für Metal-Musik :musical_note:"

travel:
- title: "Leidenschaftlicher Traveller"
  image_path: /images/about/travel.webp
  excerpt: "Ich möchte gerne alles was geht von der Welt erkunden - von unterwegs arbeite ich genau so intensiv, fokussiert und kreativ an deiner Website :)"
---

<div class="about-box">

    {% include feature_row id="coxi" type="left" %}

    {% include feature_row id="ai" type="right" %}

    {% include feature_row id="webdev" type="left"%}

    {% include feature_row id="kdk" type="right"%}

    {% include feature_row id="travel" type="left"%}

</div>