---
title: Per Starke - Web Development
layout: splash_home
permalink: /
header:
  overlay_image: /images/photos/sydney-1.webp
  overlay_filter: rgba(0, 0, 0, 0.5)


excerpt: "<span class='coral'>Bezahlbares</span>, <span class='lavender'>hochwertiges</span> und <span class='light-green'>stressfreies</span> Webdesign mit Geld-zurück-Zufriedenheitsgarantie"
---

<div class="video-container">

  <div class="video-half">
    <h1 class="with-bottom-margin">
        Dein Business braucht eine effektive Online-Präsenz
    </h1>

    <div class="with-bottom-margin">
    Websites sollten ihren Zweck klar und praktisch präsentieren, ohne übermäßig kompliziert oder "fancy" zu sein.
    Sie sollten bei Deiner Zielgruppe Anklang finden, Deinen gewünschten Stil und Deine Botschaft widerspiegeln und dazu beitragen, Deine Ziele zu erreichen.
    Außerdem müssen sie auf allen Geräten großartig aussehen.
    </div>

    <a class="btn btn--primary-outline" href="/references">Entdecke meine Referenzen</a>
    </div>

    <div class="video-half">
      {% include video id="F5apT6INa-s" provider="youtube" %}
    </div>

  </div>

<br><br>

<div class="sep-section">
  <div class="features-container">
    <!-- Feature 1 -->
    <div class="feature-item">
      <i class="fas fa-comments feature-icon"></i>
      <h4>Kostenlose und unverbindliche Erstberatung</h4>
      <p>Du kannst Dich ganz ohne Verpflichtungen informieren.</p>
    </div>

    <!-- Feature 2 -->
    <div class="feature-item">
      <i class="fas fa-check-circle feature-icon"></i>
      <h4>Zufriedenheitsgarantie</h4>
      <p>Wenn Du nicht zufrieden bist, arbeite ich kostenlos weiter, bis Du es bist, oder Du erhältst Dein Geld zurück, no questions asked.</p>
    </div>

    <!-- Feature 3 -->
    <div class="feature-item">
      <i class="fas fa-search-dollar feature-icon"></i>
      <h4>Transparente Preise ohne versteckte Kosten</h4>
      <p>Ehrliche und faire Abrechnung, keine Überraschungen.</p>
    </div>
  </div>
</div>










<hr>
<div class="video-container">
  <div class="video-half">
    {% include video id="F5apT6INa-s" provider="youtube" %}
  </div>
  <div class="video-half">
    {% include video id="XsWIJJIOaHI" provider="youtube" %}
  </div>
</div>



<hr>

<h3 class="with-bottom-margin colorful">Deine stressfreie Reise zu einer professionellen Online-Präsenz beginnt hier!</h3>
Wenn Du kein Vermögen bei großen Webentwicklungsagenturen ausgeben oder mit der Komplexität von Baukasten-Systemen kämpfen möchtest, bist Du hier genau richtig. Ob für Dich <span class="italic">persönlich</span>, für ein <span class="italic">Event</span>, für Dein <span class="italic">Unternehmen</span> oder für einen <span class="italic">Blog</span>...
Ich erstelle Deine Website zu erschwinglichen Preisen mit klarer, unkomplizierter Kommunikation, sodass der gesamte Prozess für Dich mühelos ist. Und auch nachdem Deine Seite online ist, stehe ich Dir bei Fragen oder Anliegen weiterhin zur Verfügung.

<br><br>
<a href="/customer-journey" class="btn btn--light-outline btn--large">So einfach kommst Du zu Deiner Website</a>

<a href="/german/free-resources" class="btn btn--light-outline btn--large">Kostenlose Ressourcen für Deinen Erfolg</a>
<br>
<div class="box-container">

  <div class="box box-primary">

    <ul>
      <li>Kostenlose Erstberatung, unverbindlich <i class="fas fa-comments"></i></li>
      <li>Keine versteckten Kosten <i class="fas fa-money-bill-wave"></i></li>
      <li>Deine Zufriedenheit ist garantiert - oder ich arbeite kostenlos <i class="fas fa-smile"></i></li>
      <li>Einfach und stressfrei für Dich <i class="fas fa-handshake"></i></li>
    </ul>

    <hr>

    <a href="/services/comfort-web-success-package" class="btn btn--primary-outline">Mehr erfahren & loslegen</a>
    <a href="/contact" class="btn btn--primary-outline">Kontaktiere mich</a>

  </div>

</div>



<figure class="mobile-screenshots">


  <a href="https://www.instagram.com/perstarke_webdev" class="img-link" rel="noopener noreferrer nofollow" target="_blank">
    <img src="/images/home/insta-per-starke-web-dev.webp"
         alt="Screenshot: Per Starke Web Development auf Instagram, Mobile Ansicht">
  </a>



  <a href="https://instagram.com/per.starke" class="img-link" rel="noopener noreferrer nofollow" target="_blank">
    <img src="/images/home/insta-per-starke.webp"
         alt="Screenshot: Per Starke auf Instagram, Mobile Ansicht">
  </a>



  <a href="https://blog.perstarke-webdev.de/" class="img-link" rel="noopener noreferrer nofollow" target="_blank">
    <img src="/images/home/panorama-perspectives-blog.webp"
         alt="Screenshot: Panorama Perspectives Blog, Mobile Ansicht">
  </a>

</figure>




<div class="notice--primary">
  <i>"Perfekte und einfache Kommunikation, schnelle Reaktion und Anpassung aller meiner Ideen. Immer einen Schritt weiter gegangen, um meine Wünsche zu erfüllen. 100% Empfehlung!"
    <small><a href="https://maps.app.goo.gl/ctqPpUFqRhy5mMpaA" rel="noopener noreferrer nofollow" target="_blank">~ Martha Wingen, bei Google Maps</a></small></i>
</div>


