---
title: Referenzen
layout: splash
permalink: /references
header:
    overlay_image: /images/photos/sydney-3.webp
    overlay_filter: rgba(0, 0, 0, 0.6)
excerpt: "Webseiten, die ich gestaltet oder bei denen ich mitgewirkt habe"


hochwassertok:
  - title: "HochwasserTok"
    image_path: /images/references/hochwassertok.webp
    url: "https://hochwassertok.de/"
    btn_label: "Zur Webseite"
    btn_class: "btn--primary"
    excerpt: "Für Hochwasser-Expertin Martha, mit der ich schon mehrfach erfolgreich zusammen arbeiten durfte, habe ich jetzt passend zum Abschluss ihrer Doktorarbeit die HochwasserTok Website erstellt."


wildstrengthcoaching:
  - title: "Wild Strength Coaching"
    image_path: /images/references/wildstrengthcoaching.webp
    url: "https://wildstrengthcoaching.de/"
    btn_label: "Zur Webseite"
    btn_class: "btn--inverse"
    excerpt: "Jan ist erfolgreicher Powerlifter & Powerlifting Coach, und getreu seinem Motto 'Be proud & be strong' haben wir in einer sehr schönen Zusammenarbeit die dazu passende Website erstellt!"


kraftkollektiv:
  - title: "Kraftkollektiv Powerlifting"
    image_path: /images/references/kraftkollektiv.png
    url: "https://www.kraft-kollektiv.de/"
    btn_label: "Zur Webseite"
    btn_class: "btn--primary"
    excerpt: "Die Vintage-Style Webseite für das (übrigens absolut sympathische :D) Powerlifting-Coaching-Trio Mara, Robert und Kilian, aka das Kraftkollektiv."

esa:
- title: "Effektive Software-architekturen - die Webseite zum Buch"
  image_path: /images/references/esa-cover.png
  url: "https://www.esabuch.de/"
  btn_label: "Zur Webseite"
  btn_class: "btn--inverse"
  excerpt: "Passend zur neuen Auflage des Buches gab es von mir für die Webseite ein komplettes Redesign -
  mit neuem Inhalt, einem Design in Anlehnung an das Buchcover und vielen Verbesserungen."

arc42-subtle-ads-api:
- title: "arc42 subtle-ads API"
  image_path: /images/references/arc42-site-logo.png
  url: "https://trainings.arc42.org/"
  btn_label: "Zur Beispiel-Webseite"
  btn_class: "btn--primary"
  excerpt: "Hierbei ging es nicht um eine eigenständige Website, sondern um eine API bzw. ein Backend.
Diese stellt Informationen zu Schulungsterminen zur Verfügung, die somit unkompliziert auf mehreren verschiedenen Webseiten aufgerufen und dort angezeigt werden können.
Wenn sich Termine ändern, muss somit nur an einer Stelle etwas geändert werden, und alle Webseiten aktualisieren die Termine dann automatisch."

neurotidal:
- title: "NeuroTidal - audiovisual art"
  image_path: /images/references/neurotidal-logo.webp
  url: "https://neurotidal.com/"
  btn_label: "Zur Webseite"
  btn_class: "btn--inverse"
  excerpt: "Ich habe mich sehr gefreut, zum ersten mal eine Band-Website erstellen zu können - hier ist das Ergebnis!"


peter:
- title: "Peter Hruschka"
  image_path: /images/references/peterhruschka-logo-references.webp
  url: "https://peterhruschka.eu/"
  btn_label: "Zur Webseite"
  btn_class: "btn--primary"
  excerpt: "Die alte Website von Peter Hruschka hatte ein etwas veraltetes und unpraktisches Design - ich habe das Remake in modern, praktisch, Suchmaschinen-optimiert und angepasst an alle Displaygrößen erstellt und es ist jetzt online! Peter ist Spezialist für Software-Architektur, Requirements Engineering und agile Arbeitsmethoden im Software-Bereich - und jetzt auch mit professionellem Web-Auftritt."

lynn:
- title: "Lynn Starke"
  image_path: /images/references/ls-logo-references.webp
  url: "https://starkelynn.com/"
  btn_label: "Zur Webseite"
  btn_class: "btn--inverse"
  excerpt: "Evidenzbasiertes Ernährungscoaching von der Hyrox-Weltmeisterschafts-Starterin und als Master of Science in Sports Nutrition ausgebildeten Lynn Starke - jetzt mit moderner, übersichtlicher und auch aus psychologischer Sicht optimierter Website."

pk:
- title: "Patterns kompakt"
  image_path: /images/references/pk-logo-references.webp
  url: "https://patterns-kompakt.de/"
  btn_label: "Zur Webseite"
  btn_class: "btn--primary"
  excerpt: "Das Buch [Patterns kompakt 6. Auflage](https://amzn.eu/d/ctXJlGN) fasst die wichtigsten Entwurfsmuster zusammen, die Sie für Softwareentwicklung benötigen. Softwareentwickler:Innen und -architekt:Innen finden darin effektiv anwendbare Lösungen für tägliche Entwurfsprobleme - ich habe die neue Website zum Buch gestaltet."


churros_donjuan_de:
- title: "Churros Don Juan"
  image_path: /images/references/churros_don_juan_logo_lang.webp
  url: "https://churros-donjuan.de/"
  btn_label: "Zur Webseite"
  btn_class: "btn--inverse"
  excerpt: "Bei Churros Don Juan gibt es unfassbar leckere, vegane Churros im Ruhrpark Bochum - es war mir eine große Freude und Ehre, die Website für Churros Don Juan zu erstellen!"

smplc:
- title: "Simple Methods Powerlifting Coaching"
  image_path: /images/references/smplc_logo_lang.webp
  url: "https://simplemethods.de/"
  btn_label: "Zur Webseite"
  btn_class: "btn--primary"
  excerpt: "Ich arbeite  seit langer Zeit sehr erfolgreich mit Hannes von Simple Methods Powerlifting Coaching als meinem Powerlifting Coach zusammen - nun wurde es endlich mal Zeit für eine Simple Methods Website!"


lgk:
- title: "little green kitchen"
  image_path: /images/references/lgk_logo_lang.png
  url: https://littlegreenkitchen.de/
  btn_label: "Zur Webseite"
  btn_class: "btn--inverse"
  excerpt: "Plant based Lunch in Köln geht kaum besser als bei little green kitchen - jetzt gibt es endlich auch eine zugehörige Website!"


trainingslager:
- title: 'Trainingslager Köln aka "Oldschool Gym Cologne"'
  image_path: /images/references/tl_logo_lang.webp
  url: "https://trainingslager-koeln.de/"
  btn_label: "Zur Webseite"
  btn_class: "btn--primary"
  excerpt: "Das Trainingslager Köln ist DIE Adresse für Kraftsport jeder Art in und um Köln, die neue Website fürs Trainingslager war mir eine Herzensangelegenheit und ist nun endlich online!"

arc42_shop:
- title: "arc42 Merch Shop"
  image_path: /images/references/arc42_shop_image.webp
  url: "https://arc42.myspreadshop.de/"
  btn_label: "Zur Webseite"
  btn_class: "btn--inverse"
  excerpt: "Der Merch-Shop von arc42, dem Template zur Dokumentation von Softwarearchitektur."

arc42_de:
- title: "arc42.de - erfolgreiche Softwarearchitektur"
  image_path: /images/references/arc42-site-logo.png
  url: "https://www.arc42.de/"
  btn_label: "Zur Webseite"
  btn_class: "btn--primary"
  excerpt: "arc42 ist das bewährte, pragmatische und praktische Template zur Dokumentation von Softwarearchitektur."

arc42_org:
- title: "arc42.org - successful software architecture"
  image_path: /images/references/arc42-site-logo.png
  url: "https://www.arc42.org/"
  btn_label: "Zur Webseite"
  btn_class: "btn--inverse"
  excerpt: "Die englischsprachige Version der arc42-Webseite."

b_agile_de:
- title: "b-agile - Ihr Weg zur Agilität"
  image_path: /images/references/b-agile-logo.png
  url: "https://b-agile.de/"
  btn_label: "Zur Webseite"
  btn_class: "btn--primary"
  excerpt: "b-agile bietet Trainings und Coachings über Business-Analyse & Requirements Engineering und System-/Software-Architekturen. <br> <br>
            Ich habe die deutsch- und englischsprachige Seite für b-agile entwickelt."

arc42_faq:
- title: "faq.arc42.org"
  image_path: /images/references/faq-arc42-header-image.png
  url: "https://faq.arc42.org/home/"
  btn_label: "Zur Webseite"
  btn_class: "btn--inverse"
  excerpt: "Die FAQ-Seite von arc42 - 135 Fragen und Antworten über das Architektur-Dokumentations-Template."

arc42_quality:
- title: "quality.arc42.org"
  image_path: /images/references/quality-arc42-header-image.png
  url: "https://quality.arc42.org/"
  btn_label: "Zur Webseite"
  btn_class: "btn--primary"
  excerpt: "Diese Webseite hilft beim Verstehen und Definieren von 'Qualität' und Qualitätsanforderungen von Informatiksystemen."

arc42_docs:
- title: "docs.arc42.org"
  image_path: /images/references/arc42-docs-header-image.png
  url: "https://docs.arc42.org/"
  btn_label: "Zur Webseite"
  btn_class: "btn--inverse"
  excerpt: "Tipps und Beispiele zur Verwendung des arc42 Templates."

gernotstarke_de:
- title: "gernotstarke.de"
  image_path: /images/references/gernotstarke-header-image.png
  url: "https://www.gernotstarke.de/"
  btn_label: "Zur Webseite"
  btn_class: "btn--primary"
  excerpt: "Die private Webseite von Dr. Gernot Starke. <br>
            [INNOQ-Fellow.](https://www.innoq.com/de/staff/gernot-starke/) Coach und Consultant für Softwareprojekte, berät Organisationen aus unterschiedlichen Branchen, mit Fokus Informationssysteme. <br>
            (Mit-)gründer von [arc42](https://www.arc42.de/), Gründer von [aim42](https://www.aim42.org/), Gründungsmitglied des [iSAQB e.V](https://www.isaqb.org/)..."

squatmax:
- title: "PowerBase Squat Maxout Anmeldung"
  image_path: /images/references/powerbase.png
  url: "https://anmeldung-squatmax.netlify.app/"
  btn_label: "Zur Webseite"
  btn_class: "btn--inverse"
  excerpt: "Die Anmelde-Seite für den ersten Squat-Only Powerlifting Wettkampf, das PowerBase Squat Maxout!"
    
req42:
- title: "Req42 - Agiles Requirements Management"
  image_path: /images/references/req42-logo.webp
  url: "https://req42.de/"  
  btn_label: "Zur Webseite"
  btn_class: "btn--primary"
  excerpt: "Die deutsch- und die englischsprachige Seite für das Requirements Management Framework req42."

req42_docs:
- title: "docs.req42.de"
  image_path: /images/references/docs_req42.webp
  url: "https://docs.req42.de/"
  btn_label: "Zur Webseite"
  btn_class: "btn--inverse"
  excerpt: "Tipps zur Verwendung des req42-Templates."
---

<div class="references_dark" id="ref-twenty-three">
  {% include feature_row id="hochwassertok" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-twenty-two">
  {% include feature_row id="wildstrengthcoaching" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-twenty-one">
  {% include feature_row id="kraftkollektiv" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-twenty">
  {% include feature_row id="esa" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-nineteen">
  {% include feature_row id="arc42-subtle-ads-api" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-eighteen">
  {% include feature_row id="neurotidal" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-zero">
  {% include feature_row id="peter" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-sixteen">
  {% include feature_row id="lynn" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-seventeen">
  {% include feature_row id="pk" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-thirteen">
  {% include feature_row id="churros_donjuan_de" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-fifteen">
  {% include feature_row id="smplc" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-fourteen">
  {% include feature_row id="lgk" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-eleven">
  {% include feature_row id="trainingslager" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-twelve">
  {% include feature_row id="arc42_shop" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-one">
    {% include feature_row id="arc42_de" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-two">
    {% include feature_row id="arc42_org" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-three">
    {% include feature_row id="b_agile_de" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-four">
{% include feature_row id="arc42_faq" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-five">
{% include feature_row id="arc42_quality" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-six">
{% include feature_row id="arc42_docs" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-seven">
{% include feature_row id="gernotstarke_de" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-eight">
{% include feature_row id="squatmax" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-nine">
{% include feature_row id="req42" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-ten">
  {% include feature_row id="req42_docs" type="right" %}
</div>
