---
title: References
layout: splash_en
permalink: /en/references
header:
    overlay_image: /images/photos/sydney-3.webp
    overlay_filter: rgba(0, 0, 0, 0.7)
excerpt: "Websites I have created or contributed to"

hochwassertok:
  - title: "HochwasserTok"
    image_path: /images/references/hochwassertok.webp
    url: "https://hochwassertok.de/"
    btn_label: "Visit Website"
    btn_class: "btn--primary"
    excerpt: "For flood expert Martha, with whom I have already successfully collaborated multiple times, I have now created the HochwasserTok website, perfectly timed to the completion of her doctoral thesis."



wildstrengthcoaching:
  - title: "Wild Strength Coaching"
    image_path: /images/references/wildstrengthcoaching.webp
    url: "https://wildstrengthcoaching.de/"
    btn_label: "Visit Website"
    btn_class: "btn--inverse"
    excerpt: "Jan is a successful powerlifter & powerlifting coach, and true to his motto 'Be proud & be strong', we have created the matching website in a very nice collaboration!"


kraftkollektiv:
  - title: "Kraftkollektiv Powerlifting"
    image_path: /images/references/kraftkollektiv.png
    url: "https://www.kraft-kollektiv.de/"
    btn_label: "Visit Website"
    btn_class: "btn--primary"
    excerpt: "The vintage-style website for the (absolutely lovely :D) powerlifting coaching trio Mara, Robert and Kilian, aka 'Kraftkollektiv'."


esa:
- title: "Effective Software Architectures - the website for the book"
  image_path: /images/references/esa-cover.png
  url: "https://www.esabuch.de/"
  btn_label: "Visit Website"
  btn_class: "btn--inverse"
  excerpt: "In line with the new edition of the book, I provided a complete redesign for the website -
  featuring new content, a design inspired by the book cover, and numerous improvements."


arc42-subtle-ads-api:
  - title: "arc42 subtle-ads API"
    image_path: /images/references/arc42-site-logo.png
    url: "https://trainings.arc42.org/"
    btn_label: "Visit Example Website"
    btn_class: "btn--primary"
    excerpt: "This wasn't about a standalone website but rather about an API or backend.
    It provides information about training dates, which can then be easily accessed and displayed on several different websites.
    If dates change, only one place needs to be updated, and all websites will automatically update the dates."

neurotidal:
  - title: "NeuroTidal - audiovisual art"
    image_path: /images/references/neurotidal-logo.webp
    url: "https://neurotidal.com/"
    btn_label: "Visit Website"
    btn_class: "btn--inverse"
    excerpt: "I was delighted to create a band website for the first time - here's the result!"

peter:
  - title: "Peter Hruschka"
    image_path: /images/references/peterhruschka-logo-references.webp
    url: "https://peterhruschka.eu/"
    btn_label: "Visit Website"
    btn_class: "btn--primary"
    excerpt: "Peter Hruschka's old website had a somewhat outdated and impractical design -
    I created the remake in a modern, practical, search engine-optimized, and responsive manner, tailored to all display sizes, and it's online now!
    Peter is a specialist in software architecture, requirements engineering, and agile methods in the software field - and now also with a professional web presence."

lynn:
  - title: "Lynn Starke"
    image_path: /images/references/ls-logo-references.webp
    url: "https://starkelynn.com/"
    btn_label: "Visit Website"
    btn_class: "btn--inverse"
    excerpt: "Evidence-based nutrition coaching from Hyrox World Championship starter and Master of Science in Sports Nutrition-trained Lynn Starke - now with a modern, clear, and psychologically optimized website."

pk:
  - title: "Patterns kompakt"
    image_path: /images/references/pk-logo-references.webp
    url: "https://patterns-kompakt.de/"
    btn_label: "Visit Website"
    btn_class: "btn--primary"
    excerpt: "The book [Patterns kompakt 6th edition](https://amzn.eu/d/ctXJlGN) summarizes the most important design patterns you need for software development.
    Software developers and architects will find effectively applicable solutions to daily design problems in it - I designed and developed the new website for the book."

churros_donjuan_de:
  - title: "Churros Don Juan"
    image_path: /images/references/churros_don_juan_logo_lang.webp
    url: "https://churros-donjuan.de/"
    btn_label: "Visit Website"
    btn_class: "btn--inverse"
    excerpt: "At Churros Don Juan, you'll find incredibly delicious vegan churros in Ruhrpark Bochum -
    it was a great pleasure and honor for me to create the website for Churros Don Juan!"

smplc:
  - title: "Simple Methods Powerlifting Coaching"
    image_path: /images/references/smplc_logo_lang.webp
    url: "https://simplemethods.de/"
    btn_label: "Visit Website"
    btn_class: "btn--primary"
    excerpt: "I have been working very successfully with Hannes from Simple Methods Powerlifting Coaching as my powerlifting coach for a long time -
    now it was finally time for a Simple Methods website!"

lgk:
  - title: "little green kitchen"
    image_path: /images/references/lgk_logo_lang.png
    url: https://littlegreenkitchen.de/
    btn_label: "Visit Website"
    btn_class: "btn--inverse"
    excerpt: "Plant-based lunch in Cologne doesn't get much better than at little green kitchen -
    now there's finally a corresponding website too!"

trainingslager:
  - title: 'Trainingslager Köln aka "Oldschool Gym Cologne"'
    image_path: /images/references/tl_logo_lang.webp
    url: "https://trainingslager-koeln.de/"
    btn_label: "Visit Website"
    btn_class: "btn--primary"
    excerpt: "Trainingslager Köln is THE place for strength training of any kind in and around Cologne.
    Creating the new website for Trainingslager was a matter close to my heart and is finally online!"

arc42_shop:
  - title: "arc42 Merch Shop"
    image_path: /images/references/arc42_shop_image.webp
    url: "https://arc42.myspreadshop.de/"
    btn_label: "Visit Website"
    btn_class: "btn--inverse"
    excerpt: "The arc42 merch shop, the template for software architecture documentation."

arc42_de:
  - title: "arc42.de - successful software architecture"
    image_path: /images/references/arc42-site-logo.png
    url: "https://www.arc42.de/"
    btn_label: "Visit Website"
    btn_class: "btn--primary"
    excerpt: "arc42 is the proven, pragmatic, and practical template for documenting software architecture."

arc42_org:
  - title: "arc42.org - successful software architecture"
    image_path: /images/references/arc42-site-logo.png
    url: "https://www.arc42.org/"
    btn_label: "Visit Website"
    btn_class: "btn--inverse"
    excerpt: "The English version of the arc42 website."

b_agile_de:
  - title: "b-agile - Your way to agility"
    image_path: /images/references/b-agile-logo.png
    url: "https://b-agile.de/"
    btn_label: "Visit Website"
    btn_class: "btn--primary"
    excerpt: "b-agile offers training and coaching on business analysis & requirements engineering and system/software architectures.
    I developed the German and English website for b-agile."

arc42_faq:
  - title: "faq.arc42.org"
    image_path: /images/references/faq-arc42-header-image.png
    url: "https://faq.arc42.org/home/"
    btn_label: "Visit Website"
    btn_class: "btn--inverse"
    excerpt: "The FAQ page of arc42 - 135 questions and answers about the architecture documentation template."

arc42_quality:
  - title: "quality.arc42.org"
    image_path: /images/references/quality-arc42-header-image.png
    url: "https://quality.arc42.org/"
    btn_label: "Visit Website"
    btn_class: "btn--primary"
    excerpt: "This website helps to understand and define 'quality' and quality requirements of computer systems."

arc42_docs:
  - title: "docs.arc42.org"
    image_path: /images/references/arc42-docs-header-image.png
    url: "https://docs.arc42.org/"
    btn_label: "Visit Website"
    btn_class: "btn--inverse"
    excerpt: "Tips and examples for using the arc42 template."

gernotstarke_de:
  - title: "gernotstarke.de"
    image_path: /images/references/gernotstarke-header-image.png
    url: "https://www.gernotstarke.de/"
    btn_label: "Visit Website"
    btn_class: "btn--primary"
    excerpt: "Dr. Gernot Starke's private website. [INNOQ-Fellow.](https://www.innoq.com/de/staff/gernot-starke/) Coach and consultant for software projects, advises organizations from various industries, focusing on information systems.
    (Co-)founder of [arc42](https://www.arc42.de/), founder of [aim42](https://www.aim42.org/), founding member of [iSAQB e.V.](https://www.isaqb.org/)..."

squatmax:
  - title: "PowerBase Squat Maxout Registration"
    image_path: /images/references/powerbase.png
    url: "https://anmeldung-squatmax.netlify.app/"
    btn_label: "Visit Website"
    btn_class: "btn--inverse"
    excerpt: "The registration page for the first Squat-Only Powerlifting competition, the PowerBase Squat Maxout!"

req42:
  - title: "Req42 - Agile Requirements Management"
    image_path: /images/references/req42-logo.webp
    url: "https://req42.de/"
    btn_label: "Visit Website"
    btn_class: "btn--primary"
    excerpt: "The German and English website for the requirements management framework req42."

req42_docs:
  - title: "docs.req42.de"
    image_path: /images/references/docs_req42.webp
    url: "https://docs.req42.de/"
    btn_label: "Visit Website"
    btn_class: "btn--inverse"
    excerpt: "Tips for using the req42 template."

---

<div class="references_dark" id="ref-twenty-three">
  {% include feature_row id="hochwassertok" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-twenty-two">
  {% include feature_row id="wildstrengthcoaching" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-twenty-one">
  {% include feature_row id="kraftkollektiv" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-twenty">
  {% include feature_row id="esa" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-nineteen">
  {% include feature_row id="arc42-subtle-ads-api" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-eighteen">
  {% include feature_row id="neurotidal" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-zero">
  {% include feature_row id="peter" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-sixteen">
  {% include feature_row id="lynn" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-seventeen">
  {% include feature_row id="pk" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-thirteen">
  {% include feature_row id="churros_donjuan_de" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-fifteen">
  {% include feature_row id="smplc" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-fourteen">
  {% include feature_row id="lgk" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-eleven">
  {% include feature_row id="trainingslager" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-twelve">
  {% include feature_row id="arc42_shop" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-one">
    {% include feature_row id="arc42_de" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-two">
    {% include feature_row id="arc42_org" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-three">
    {% include feature_row id="b_agile_de" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-four">
{% include feature_row id="arc42_faq" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-five">
{% include feature_row id="arc42_quality" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-six">
{% include feature_row id="arc42_docs" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-seven">
{% include feature_row id="gernotstarke_de" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-eight">
{% include feature_row id="squatmax" type="right" %}
</div>

<div class="references_dark hide-for-fade-in" id="ref-nine">
{% include feature_row id="req42" type="left" %}
</div>

<div class="references_bright hide-for-fade-in" id="ref-ten">
  {% include feature_row id="req42_docs" type="right" %}
</div>
