/* special styles for Per Starke Web-Dev website */


/* define colors */
:root {
  --lightgrey-background: rgba(255, 255, 255, 0.15);
  --darker-lightgrey-background: rgba(255, 255, 255, 0.05);
  --default-skin-color: #00adb5;
  --light-skin-color: #8efaff;
}

.instagram:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}


/*
Posts
*/


.green {
    color: green;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.url-box {
    border-radius: 5px;
    padding: 5px;
    width: max-content;
    margin: 5px 0;
    border: 1.5px solid grey;
}

.green-box {
    border: 1.5px solid green;
}

.red-box {
    border: 1.5px solid red;
}

.lighter {
    font-weight: lighter;
}

.darker-green {
    color: #568203;
}

.yellow {
    color: #FEBE10;
}

/**
Some basic design stuff
*/

div.about-box {
    margin: 30px;
    padding: 20px;
    background-color: rgba(0, 173, 181, 0.1);
    border-radius: 5px;
}

span.big-colorful-header {
    font-size: 1.3em;
    color: var(--default-skin-color);
}

@media (min-width: 700px) {
    span.big-colorful-header {
        padding-bottom: 2px;
        border-bottom: 1px solid var(--default-skin-color);
    }
}

.colorful {
    color: var(--default-skin-color);
}

.light-color {
    color: var(--light-skin-color);
}

.italic {
    font-style: italic;
}

h3.with-bottom-margin {
    margin-bottom: 15px;
}

span.side-header {
    color: var(--light-skin-color);
    font-size: 0.7em;
    display: inline-block;
}

div.references_bright{
    background-color: var(--lightgrey-background);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.references_dark{
    background-color: var(--darker-lightgrey-background);
    color: rgba(220, 220, 220);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

hr.big-sep {
    border-top: 5px dashed grey
}

small.price {
    color: grey
}

/* Two boxes next to each other, with responsive design, for gallery */
div.grid-container {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

@media (min-width: 800px) {
  div.small-container { grid-template-columns: repeat(2, 1fr); }
}

.light_blue {
    background-color: var(--default-skin-color);
}

div.box {
  margin: 20px;
  padding: 20px;
}

img.max300 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgba(0,0,0,0);
    width: 50%;
    max-width:300px;
}

/**
Fade in elements on scroll
*/

.hide-for-fade-in {
  opacity: 0%;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.fade-in {
  opacity: 100%;
}

/**
underline links on hover
*/

a.underline-hover-effect:hover{
    text-decoration: none !important;
}

.underline-hover-effect{
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.underline-hover-effect::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s;
    transition-delay: 0.1s;
}

.underline-hover-effect:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}



.btn-custom {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: #00adb5;
    color: black !important;
    border: 1px solid #008d95;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.btn-custom:hover {
    background-color: #008d95;
    border-color: #006d75;
}





/**
cookie banner
*/

#cookie-banner {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgb(54, 69, 79);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    font-size: 70%
}




code {
    background-color: grey !important;
    font-size: 0.9rem !important;
    color: white;
    border-radius: 3px;
    padding: 0 6px !important;
    font-style: italic;
}









/*
Angebot / Marketing
*/

.angebot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.angebot-text {
  width: 66.66%;
}

.angebot-image {
  width: 33.33%; /
  margin-left: 20px;
}

.angebot-image img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .angebot-container {
    flex-direction: column;
  }

  .angebot-text,
  .angebot-image {
    width: 100%;
    margin: 0;
  }

  .angebot-image{
    width: 60%;
    margin-top: 20px;
  }
}


.three-images-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.three-images-container a {
    width: 32%;
    margin-right: 20px;
}

.angebot-text-box {
    border: 1.5px solid rgba(0,255,0,0.2);
    background-color: rgba(0,255,0,0.05);
    padding: 0 30px 30px 30px;
    margin: 30px 30px 30px 0;
    border-radius: 5px;
}

.form-box {
    padding: 0 30px 0 0;
}

.testimonial {
    text-align: center;
    font-style: italic;
}

.btn-testimonial {
    color: white !important;
    margin-top: 10px;
}